.component-wrapper {
  border-radius: 1rem;
  background: #FFFFFF;
  padding: 2rem 2rem 4rem 2rem;
}

.form-heading {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.link {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.here {
  text-decoration: underline;
  color: #00B0F0;
  cursor: pointer;
}
