.suffix-icon-section {
  cursor: pointer;
}

.suffix-icon,
.suffix-icon ::ng-deep .icon {
  height: 1rem;
  width: 1rem;
  fill: #FFFFFF;
}

.link {
  cursor: pointer;
}

.form-field {
  position: relative;
}

:host .form-field ::ng-deep .symbol {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .form-field ::ng-deep .symbol ::ng-deep .mat-icon svg {
  font-size: 1.2rem;
  width: auto;
  height: auto;
}

.placeholder {
  font-size: 1.4rem;
  line-height: 3.6rem;
  color: rgb(55, 62, 70, 0.4);
}

.placeholder.error {
  color: #FF0000;
  opacity: 1;
}

:host .form-field ::ng-deep .mat-icon {
  padding: 0;
}

.info-icon {
  display: flex;
  justify-content: center;
  background: lightblue;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;
  font-weight: bold;
}
